<div ui-view>
	<h1>
		Nodes
		<button class="btn btn-primary pull-right hidden-print" data-ui-sref="nodes.add">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Add
		</button>
	</h1>

	<hr>

	<div class="input-group input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></span>
		<input data-ng-model="filter.name" type="text" class="form-control" placeholder="Filter by Node Name">
	</div>
	
	<br>

	<div>
		<table class="table table-striped table-hover">
			<tbody>
				<tr class="animate" data-ng-repeat="node in nodes | filter:filter:strict | orderBy:'name'">
					<td class="listElement">
						<a href="#/nodes/view/{{node.name}}">{{node.name}}</a>
					</td>
					<td>
						<span data-ng-repeat="role in node.rolenames | orderBy:''" class="pull-right">
							&nbsp;<a href="#/roles/view/{{role}}"><span class="badge">{{role}}</span></a>
						</span>	
					</td>
					<td width="100px" align="right">
  						<div class="btn-group" role="group" aria-label="Actions">
							<a class="btn btn-primary hidden-print" href="#/nodes/edit/{{node.name}}">
								<span class="glyphicon glyphicon-cog" aria-hidden"true"></span>
							</a>
							<a class="btn btn-danger hidden-print" href="#/nodes/delete/{{node.name}}">
								<span class="glyphicon glyphicon-trash" aria-hidden"true"></span>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>