<h1>
	View Node &laquo;{{ name }}&raquo;
	<div class="btn-group pull-right " role="group" aria-label="Actions">
		<a class="btn btn-primary hidden-print" href="#/nodes/edit/{{name}}">
			<span class="glyphicon glyphicon-cog" aria-hidden"true"></span>&nbsp;&nbsp;Edit
		</a>
		<a class="btn btn-danger hidden-print" href="#/nodes/delete/{{name}}">
			<span class="glyphicon glyphicon-trash" aria-hidden"true"></span>&nbsp;&nbsp;Delete
		</a>
	</div>
</h1>
<hr>

<div class="row">
    <div class="col-xs-4">
		<h2>Roles</h2>
		<hr>
		
		<div>
			<span data-ng-repeat="role in rolemap | filter:{enabled:true}">
				<a href="#/roles/view/{{role.name}}"><span class="badge">{{role.name}}</span></a>
			</span>	
		</div>
    </div>

    <div class="col-xs-8">
		<h2>Variables</h2>
		<hr>

		<pre>{{ node.mergedyamlvars }}</pre>
    </div>
</div>