<h1>
	View Role &laquo;{{ name }}&raquo;

	<div class="btn-group pull-right " role="group" aria-label="Actions">
		<a class="btn btn-primary hidden-print" href="#/roles/edit/{{name}}">
			<span class="glyphicon glyphicon-cog" aria-hidden"true"></span>&nbsp;&nbsp;Edit
		</a>
		<a class="btn btn-danger hidden-print" href="#/roles/delete/{{name}}">
			<span class="glyphicon glyphicon-trash" aria-hidden"true"></span>&nbsp;&nbsp;Delete
		</a>
	</div>
</h1>
<hr>

<div class="row">
    <div class="col-xs-4">
		<h2>Nodes</h2>
		<hr>
		
		<div>
			<span data-ng-repeat="node in nodemap | filter:{enabled:true}">
				<a href="#/nodes/view/{{node.name}}"><span class="badge">{{node.name}}</span></a>&nbsp;
			</span>	
		</div>
    </div>

    <div class="col-xs-8">
		<h2>Variables</h2>
		<hr>

		<pre>{{ role.mergedyamlvars }}</pre>
    </div>
</div>