<h1>Dashboard</h1>
<hr>

<div class="row">
    <div class="col-xs-4">
    	<div ui-view>
	<div class="jumbotron">
	    <h1>42</h1>
	    <p>Welcome to deepthought</p>
	</div>
</div>

    </div>

    <div class="col-xs-4">
    	<div ui-view>
	<div class="jumbotron">
	    <h1>42</h1>
	    <p>Welcome to deepthought</p>
	</div>
</div>

    </div>

     <div class="col-xs-4">
     	<div ui-view>
	<div class="jumbotron">
	    <h1>42</h1>
	    <p>Welcome to deepthought</p>
	</div>
</div>

    </div>
</div>

